.crop {
  width: 80%;
  overflow: hidden;
  &.slide1 {
    height: 48.5vh;
    img {
      width: 120%;
      margin: -2.5vh 0 0 -10%;
    }
  }
  &.slide2 {
    height: 55vh;
    img {
      width: 100%;
      margin: -23vh 0 0 0;
    }
  }
  &.slide3 {
    height: 37.2vh;
    img {
      width: 100%;
      margin: -30vh 0 0 0;
    }
  }
  &.slide4 {
    height: 43vh;
    img {
      width: 100%;
      margin: -23vh 0 0 0;
    }
  }
}
