django
psycopg2 >= 2.6.2
DateTime==4.0.1
SciPy==0.17.1
dota2py==0.1.3
threadpool==1.3.2
requests
mock==2.0.0
redis==2.10.3
celery==3.1.18
gunicorn
djangorestframework
django-webpack-loader==0.2.4
django-nose
coverage
djangorestframework-camel-case
atlas==0.27.0
numpy==1.11.1
git+https://github.com/pybrain/pybrain.git@0.3.3
